@charset "utf-8";

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
@font-face {
    font-family: fonte1;
    src: url(fontes/Love\ Coffee.ttf);
}
@font-face{
    font-family: fonte2;
    src: url(/fontes/coffee+teademo-Regular.ttf);
}
body{
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(/imagens/background.png);
    font-family: 'Quicksand', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
a {
    color: #333;
    text-decoration:none;
}

.main-header {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 1em;
    background-color:#3b250e;
}

.main-header h1 {
    font-size: 4esm;
    margin-bottom:;
    line-height: 1.2em;
    font-family: fonte1;
    color: #c2ae95;
    letter-spacing: 2px;
}
.container {
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 0 1em; 
    border-radius: 0px;
    margin-top: 1em;
    font-family: fonte2;
    font-size: 25px;
}

img {
    width: 100%;
    border-radius:10px;
}
.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    background-color: #c2ae95;
    margin-bottom: 2em; 
    border-radius: 10px;
    color: #2c1b09;
}

.card h3 {
    margin-bottom: 1em;
}

.card div {
    padding: 2em;
}

.card:nth-child(even) img {
    order: 2;
}

.btn {
    background-color: #3b250e;
    color: #bda990;
    padding: 0.6em 1.6em;
    margin-top: 2em;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover {
    background-color:#20130a;
    opacity: .6;
    border-radius: 5px;   
}
footer{
    background-color:#3b250e;
    text-align: center;
    font-family: fonte2;
    padding: 10px;
    font-size: 25px;
}
table{
    background-color: #c2ae95;
    border-color: #3b250e;
    margin-bottom: 3em;
    font-family: fonte2;
    align-self: center;
    margin-left: 42%;
    border-radius: 10px;
}
.item{
    padding-right: 70px;
    padding-left: 5px;
}
table thead{
    font-size: 35px;
    padding-right: 70px;
    padding-left: 5px;
}
table tbody{
    font-size: 25px;
}
.formulario{
    background-color: #c2ae95;
    font-family: fonte2;
    text-align: center;
    padding: 1em;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 5%;
    border-radius: 10px;
}
fieldset{
    border-color: #2c1b09;
}